@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "header"
    "main";
    background-color: #323232;
    color: #ffe6e6 ;
}

.container#container.active {
    filter: blur(5px);
    /* pointer-events: none; */
    user-select: none;
}

.modal {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 2%;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background-color: #ff9d9d;
    border-radius: 10px;
    
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.modal.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.modal img {
    position: absolute;
    height: 25px;
    right: 5%;
    top: 10%;
    cursor: pointer;
}

.inputContainer:nth-of-type(1) {
    margin-top: 20px;
}

#instructions {
    color: #374955;
}

form .inputContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

form label {
    font-size: 1rem;
}

form input[type=text], input[type=tel] {
    height: 2.5rem;
    font-size: 1rem;
    padding-left: 2%;
    margin-bottom: 15px;
    border: none;
    background-color: #ff9d9d;
    border-bottom: solid 2px gray;
    width: 100%;
}

form input[type="text"]:focus, input[type="tel"]:focus {
    outline: none;
    border-bottom: solid 2px black;
    transition: all 0.8s;
}

form input[type="checkbox"] {
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.readStatusMarker {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    align-items: center;
}

.readStatusMarker label {
    width: max-content;
}

.submitBtn {
    margin-top: 10px;
    justify-self: end;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #88e1f2;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
}

.submitBtn:hover {
    translate: 0 -5px;
}

* {
    /* outline: solid 1px black; */
}

header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 15px;
    padding: 15px;
}

header button {
    justify-self: end;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #88e1f2;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

.logo img {
    height: 100px;
}

main {
    padding: 30px;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 15px;
    grid-auto-rows: 250px;
    justify-items: center;
}

main .book {
    height: 250px;
    width: 280px;
    padding: 3%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;

    /* add glass effect */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.book .bookControls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
    margin-top: auto;
}

.book button {
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.book button:active {
    translate: 0 2px;
    opacity: 0.4;
}

button.readBook {
    background-color: #83ffe6;
}

button.notReadBook {
    background-color: #ffd933;
}

button.removeBook {
    background-color: #f62a66;
}